.fancy-header {
    color: purple;
}

header {
    text-align: center;
    font-family: "Comic Sans MS";
}

h2 {
    background-color: #ffd4ff;
    font-family: "Comic Sans MS";
    font-style: oblique;
}

body {
    background-image: url("../img/Alone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightsteelblue;
    background-size: auto;
    font-family: "Comic Sans MS"
}

ul>li {
    list-style-type: circle;
}

ol>li {
    list-style-type: square;
}

table {
    border: 5px solid;
    table-border-color-dark: brown;
    border-color: #d4ff73;
    border-radius: 10px;
    border-style: dashed;
    font-style: italic;
}
th {
    background-color: cadetblue;
    text-align: left;
    padding: 8px;
}


a:hover {
    color: lightgreen;
}