.fancy-header {
    color: purple;
}

header {
    text-align: center;
    font-family: "Comic Sans MS";
}

h2 {
    background-color: burlywood;
    font-family: "Comic Sans MS"
}

body {
    background-image: url("HTML_img/Alone.jpg");
    background-color: lightskyblue;
    font-family: "Comic Sans MS"
}

ul>li {
    list-style-type: circle;
}

ol>li {
    list-style-type: square;
}

table {
    border: 10px solid;
    table-border-color-dark: brown;
    border-color: brown;
    border-collapse: collapse;
    font-style: italic;

}

a:hover {
    color: lightgreen;
}